{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title> JObs</title>
    </head>
    <body>
        <div>
            <div>
                <!-- <form action={{url_for("boards.testBoard") }} method="POST">
                    <label for="job_no">Enter Job Number</label>
                    <input type="text" id="text_field" name="job_no">
                    <button type="submit">Enter</button>
                </form> -->
                    Xytech - Giant - Integration
            </div>
        

        <div>
            <form action={{url_for("boards.devTestBoard") }} method="POST">
                <label for="job_no">Enter Job Number for test function</label>
                <input type="text" id="text_field" name="job_no">
                <button type="submit">Enter</button>
            </form>
        </div>
        </div>
    </body>
</html>


{% endblock %}